@media (max-width:1200px) {
    .main-nav ul,
    .latest-task,
    .latest-task .tasks-holder .left-column, 
    .latest-task .tasks-holder .right-column,
    .how-it-works,
    .mention {
        padding:0px 20px;
    }
    .category-holder .specialty-item  .icon-items{
    width:150px;
    height:110px;
    vertical-align:top;
    margin-bottom:10px;
    margin-right: 20px;
    padding: 20px 0px 0px 27px;
 }
 .category-holder .specialty-item {
     width:150px;
 }
    .category-holder .specialty-item  .icon-items img{
        width:90px;
        height:70px;
     }
     .content.two-column .left-column{
        padding-right:0px;    
    }
    .user-item img{
        margin-right: 8px;
}
 
 
 
 
 
 
}


@media (max-width: 992px) {
    .content{
        padding:30px 30px 30px 50px;
    }
    h2{font-size:31px;}
     .top-nav{
        float:left;
    }
    .tasks-holder .left-column{
        border-right-color: transparent;
    }
    .tasks-holder .right-column{
        padding-left: 0px;
    }
    .category {
        height:480px;
    }
    .category-holder .specialty-item  .icon-items{
    width:100px;
    height:80px;
    vertical-align:top;
    margin-bottom:10px;
    margin-right: 20px;
    padding: 10px 0px 0px 17px;
    }
    .category-holder .specialty-item {
        width:100px;
    }
    .category-holder .specialty-item  .icon-items img{
        width:70px;
        height:50px;
    }
    .category-holder .specialty-item p{
        font-size: 12px;
    }
    .sidebar{
        padding-right: 0px;
    }
    .content.with-sidebar .sort .left-column{
        border-color:transparent;
    }
    .content.with-sidebar .left-column{
        padding-right: 0px;
    }
    .user-status-all{
        padding-top: 0px;
    }
    .user-item  .user-mark{
        padding:0px;
    } 
    
    
}

@media (max-width: 740px) {
    .content{
        padding:25px 20px 20px 30px;
    }
    .category{
        height: 420px;
    }
    .category-holder .specialty-item  .icon-items{
        width:80px;
        height:60px;
        vertical-align:top;
        margin-bottom:10px;
        margin-right: 20px;
        padding: 15px 0px 0px 15px;
    }
    .category-holder .specialty-item {
        width:100px;
    }
    .category-holder .specialty-item  .icon-items img{
        width:50px;
        height:40px;
    }        
    .user-info-price{
        float:left;
    }
    .main-nav ul,
    .latest-task,
    .latest-task .tasks-holder .left-column, 
    .latest-task .tasks-holder .right-column,
    .how-it-works,
    .mention {
        padding:0px;
    }

}



@media (max-width: 646px) {
    .content{
        padding:20px;
    }
    
    .category-holder .specialty-item  .icon-items{
        width:70px;
        height:50px;
        vertical-align:top;
        margin-bottom:10px;
        margin-right: 10px;
        padding: 3px 0px 0px 15px;
    }
    .category-holder .specialty-item {
        width:70px;
    }
    .category-holder .specialty-item  .icon-items img{
        width:50px;
        height:30px;
    }
    .category-holder .specialty-item p{
        font-size:12px;
    }
   
}




