@media (max-width:1200px) {
    .main-nav ul,
    .latest-task,
    .latest-task .tasks-holder .left-column, 
    .latest-task .tasks-holder .right-column,
    .how-it-works,
    .mention {
        padding:0px 20px;
    }
    .category{
        height:580px;
        padding:30px 10px;
    }
    .category .bx-wrapper .bx-viewport{
        padding-left:70px;
    }
    .category-holder .specialty-item  .icon-items{
    width:170px;
    height:120px;
    vertical-align:top;
    margin-bottom:10px;
    padding: 16px 0px 0px 30px;
 }
 .category-holder .specialty-item {
     width:170px;
 }
    .category-holder .specialty-item  .icon-items img{
        width:110px;
        height:80px;
     }
    .content > .row > .left-column{
        padding-right:0px;    
    }
    .user-item img{
        margin-right: 8px;
}
 .find-help {
    /*left: 30%;*/
 }



 
 
 
 
 
}
@media (max-width:1024px) {
     .find-help {
    /*left: 25%;*/
 }
}

@media (max-width: 992px) {
    .content{
        padding:30px 30px 30px 50px;
    }
    h2{font-size:31px;}
     .top-nav{
        float:left;
    }
    .tasks-holder .left-column{
        border-right-color: transparent;
    }
    .tasks-holder .right-column{
        padding-left: 0px;
    }
    .category {
        height:480px;
    }
    .category-holder .specialty-item  .icon-items{
    width:125px;
    height:90px;
    vertical-align:top;
    margin-bottom:10px;
    padding: 15px 0px 0px 20px;
    }
    .category-holder .specialty-item {
        width:125px;
    }
    .category-holder .specialty-item  .icon-items img{
        width:80px;
        height:55px;
    }
    .category-holder .specialty-item p{
        font-size: 14px;
    }
    .sidebar{
        padding-right: 0px;
    }
    .content.with-sidebar .sort .left-column{
        border-color:transparent;
    }
    .content.with-sidebar .left-column{
        padding-right: 0px;
    }
    .user-status-all{
        padding-top: 0px;
    }
    .user-item  .user-mark{
        padding:0px;
    } 
   .content form.sort .left-column {
    border-right: none;
   margin-bottom: 20px;;
} 
    .find-help {
        /*left: 21%;*/
    } 
}


@media (max-width: 770px) {
.find-help-content {
    padding: 10px 80px;
}
.btn-help {
    width: 100%;
}
}

@media (max-width: 740px) {
    .content{
        padding:25px 20px 20px 30px;
    }
    .category{
        height: 485px;
    }
    .category-holder .specialty-item  .icon-items{
        width:112px;
        height:83px;
        vertical-align:top;
        margin-bottom:10px;
        padding: 20px 0px 0px 23px;
    }
    .category-holder .specialty-item {
        width:105px;
    }
    .category-holder .specialty-item  .icon-items img{
        width:70px;
        height:47px;
    }        
    .user-info-price{
        float:left;
    }
    .main-nav ul,
    .latest-task,
    .latest-task .tasks-holder .left-column, 
    .latest-task .tasks-holder .right-column,
    .how-it-works,
    .mention {
        padding:0px;
    }

}



@media (max-width: 646px) {
    
     .find-help {
       /* left: 15%; */
    } 
    
    .content{
        padding:20px;
    }
    
    .category-holder .specialty-item  .icon-items{
        width:80px;
        height:60px;
        vertical-align:top;
        margin-bottom:10px;
        margin-right: 10px;
        padding: 15px 0px 0px 15px;
    }
    .category-holder .specialty-item {
        width:90px;
    }
    .category-holder .specialty-item  .icon-items img{
        width:50px;
        height:30px;
    }
    .category-holder .specialty-item p{
        font-size:12px;
    }
   .action a {
    margin-right: 7px;
    padding-left:3px;
    padding-right: 3px;
}
}
@media (max-width: 572px) {
    .category{
        height: 690px;
    }
    .category-holder .specialty-item  .icon-items{
        width:50px;
        height:42px;
        vertical-align:top;
        margin-bottom:10px;
        margin-right: 10px;
        padding: 10px 0px 0px 10px;
        display:inline-block;
    }
    .category-holder .specialty-item {
        width:100%;
        display: block;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .category-holder .specialty-item  .icon-items img{
        width:30px;
        height:24px;
    }
    .category-holder .specialty-item p{
        font-size:16px;
        display:inline-block;
        padding-top:17px;
    }
}

@media (max-width: 572px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .category{
        height: 690px;
    }
    .find-help {
        width: 400px;
        margin-left: -200px;
        
    }
    .find-help-content {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 450px){
    .find-help {
        width: 100%;
        left: 0;
        margin-left: 0px;
        
    }
    .find-help-content {
        padding-left: 30px;
        padding-right: 30px;
    }
}